
{% load static %}
<!DOCTYPE html>
<html>
<title>Editar ingreso</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('{% static "save/wpp1.png" %}');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topmiddle w3-jumbo">
    <p>$ave</p>
  </div>
  
   <div class ="w3-container w3-display-middle">
    <div class="w3-container w3-black">
      <h1>Registrar Ingreso</h1>
    </div>
    <div class="w3-container ">
      {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
      <form action="{% url 'editarIngreso' %}" method="post">
      {% csrf_token %}
        <br>
        <div align="right">
        Fecha:
          <input type="date" name="fecha" value="{{ingreso.fecha|date:'Y-m-d'}}" required>
        <br><br>
        Nombre:
        <input type="text" name="nombre" maxlength="50" value={{ingreso.nombre}} required>
        <br><br>
        Monto:
        <input type="number" step="0.01" name="monto" min="0" max="999999999" value={{ingreso.monto}} required>
        <br><br>
        Ahorro:
        <input type="number" step="0.01" name="ahorro" min="0" max="999999999" value={{ingreso.ahorro}} required>
        <br><br>
        <div align="center">
          <input type="submit" value="Editar" class="w3-button w3-black">
        </div>
      </form> 
      <br>
      <div align="center"><a href="{% url 'inicio' %}" class="w3-button w3-black">Volver</a></div>
    </div>
  </div>
</div>

</body>
</html>

