{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Control de Egresos</title>
  <link rel="stylesheet" href='{% static "css/all.css" %}'>
  <link rel="stylesheet" href='{% static "css/table.css" %}'>
</head>
<body>
    <div class="contenedor">
        <!-- Header -->
        <header>
            <!-- Logo -->
            <p>$ave</p>
            <br>
            <nav>
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'verListadoIngresos' %}">Ingresos</a>
                        <ul>
                            <li><a href="{% url 'registrarIngreso' %}">Registrar</a></li>
                            <li><a href="{% url 'verListadoIngresos' %}">Listado</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'verListadoEgresos' %}">Egresos</a>
                        <ul>
                            <li><a href="{% url 'registrarEgreso' %}">Registrar</a></li>
                            <li><a href="{% url 'verListadoEgresos' %}">Listado</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'compararPeriodos' %}">Comparar Periodos</a></li>
                    <li><a href="{% url 'controlEgreso' %}">Control de Egresos</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="main">
            <p>Control de egresos solo disponible para usuarios Premium</p>
        </section>
        
        <!-- Footer -->
        <footer>
            <p>DAMW.inc</p>
        </footer>
    </div>
</body>
</html>
