
{% load static %}
<!DOCTYPE html>
<html>
<title>Ver listado ingresos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('{% static "save/wpp1.png" %}');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">

   <div class ="w3-container w3-display-middle">
    <div class="w3-container w3-black">
      <h1>Listado Ingresos</h1>
    </div>
    <div class="w3-container ">
      {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
    <table>
      <thead>
        <tr>
          <td style="width:25%;">Nombre</td>
          <td style="width:25%;">Monto</td>
          <td style="width:25%;">Fecha</td>
          <td style="width:25%;">Ahorro</td>
        </tr>
      </thead>
      <tbody>
        <form action="{% url 'verListadoIngresos' %}" method="post">
          {% csrf_token %}
          {% for trans in transacciones %}
          <tr>
            <td>
              <input type="radio" name="transaccion" id="trans{{ forloop.counter }}" value="{{ trans.pk }}">
              <label for="choice{{ forloop.counter }}">{{ trans.nombre }}</label>
            </td>
            <td>{{trans.monto}}</td>
            <td>{{trans.fecha.date}}</td>
            <td>{{trans.ahorro}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan=2>
              <input type="submit" value="Editar" class="w3-button w3-black" style="width:100%;">
            </td>
            <td colspan=2>
              <a href="{% url 'inicio' %}" class="w3-button w3-black" style="width:100%;">Volver</a>
            </td>
          </tr>
        </form>
      </tbody>
    </table>
    </div>
  </div>
</div>

</body>
</html>

